<div class="wrapper">

<div class="banner" style="background-image: cover,linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%)">
  <%= image_tag 'cocktails.jpg' %>
</div>

<div class="title">
  <h2><strong><i>~A list of our wonderful cocktails~</i> </strong> </h2>
  <h1><strong>Enjoy!</strong> </h1>
</div>

  <%= link_to "Add new Cocktail", new_cocktail_path, :class => "link btn btn-danger" %>

<div class="container">
  <div class="row">


    <% @cocktails.each do |cocktail| %>

      <div class="col-xs-12 col-md-4">

        <%= link_to cocktail_path(cocktail), :class => "link" do  %>

          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/<%= %w{shanghai paris london berlin}.sample %>);'">
          <div class="card-category"><h1><strong> <%= cocktail.name %></strong></h1> </div>
          </div>

        <% end %>

       </div>
    <% end %>

      <!-- insert <div class="card"> -->
</div>

</div>


