<div class="wrapper">

<div class="container">

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://kitt.lewagon.com/placeholder/cities/berlin');">
  <div class="banner-content">
    <h1><%= @cocktail.name %></h1>
  </div>
</div>

<div class="title-card">

  <div class="row">

      <h1>Ingredients</h1>
      <h3> &</h3>
      <h1>doses</h1>
      <div class="inner-list">
      <ul>
        <% count = 1 %>
        <% @doses.each do |dose| %>
        <div class="step-wrapper">
          <div class="col-sm-4">
            <h3><strong><%= count%>. step:</strong>  </h3>
            <li>
              <p><%= dose.description %> <%= dose.ingredient.name %> </p>
              <%= link_to dose_path(dose),:class => "link real-link", method: :delete, data: { confirm: "Are you sure?" } do %>
                  <i class="fas fa-trash-alt"></i>
                <% end %>

            </li>
          </div>
        </div>

        <% count += 1  %>

      <% end %>
      </ul>
    </div>
    </div>

  </div>
</div>
  <div class="back-link">
    <%= link_to 'Back', cocktails_path, :class => "link"%>
  </div>

</div>



</div>
</div>

